Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @cbronzo Sign out
14
0 864 learn-co-students/partial-locals-lab-v-000
 Code  Issues 2  Pull requests 868  Projects 0  Insights
partial-locals-lab-v-000/app/views/students/_student.html.erb
74de678  a day ago
@savyounts savyounts Done.
@savyounts @JeffKatzy
      
12 lines (11 sloc)  195 Bytes
<ul>
  <li>
    Name: <%= student.name %>
  </li>
  <li>
    Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= student.hometown.capitalize %>
  </li>
</ul>
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.